html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:Verdana;
    font-size:11px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    background: -webkit-linear-gradient(#9999CC, #FFFFFF);
    background: -moz-linear-gradient(#9999CC, #FFFFFF);
    background: -o-linear-gradient(#9999CC, #FFFFFF);
    background: linear-gradient(#9999CC, #FFFFFF);
}

header {
    background: white;
    background: -webkit-linear-gradient(#9999CC, #FFFFFF);
    background: -moz-linear-gradient(#9999CC, #FFFFFF);
    background: -o-linear-gradient(#9999CC, #FFFFFF);
    background: linear-gradient(#9999CC, #FFFFFF);
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 30px;
    border-bottom: 1px solid #A6252B;
    font-family:sans-serif;
}

#headertext {
    position: fixed;
    width: 100%;
    height: 30px;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

#wrapper {
    background: white;
    position:absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(#9999CC, #FFFFFF);
    background: -moz-linear-gradient(#9999CC, #FFFFFF);
    background: -o-linear-gradient(#9999CC, #FFFFFF);
    background: linear-gradient(#9999CC, #FFFFFF);
	overflow-y: scroll;
	overflow-x: hidden;
	}
	
thead {
	position: fixed !important;
	top: 30px;
}
	
#table_id {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table_id td {
    text-align: center;
    border: 1px solid #000810;
    padding: 8px;
}


#table_id tr:nth-child(even){
    background-color: #f2f2f2;
}
#table_id tr:nth-child(odd){
    background-color: #dadaec;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
	font-family: sans-serif;
	font-size: 14px;
}

.user {
    cursor: pointer;
}

.centerText {
	width: 100px !important;
	
}

span.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 3px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family:sans-serif;
}

        .button.help {
			background-image: -webkit-linear-gradient(#499bea, #3390e8 50%, #207ce5); 
			background-image: -o-linear-gradient(#499bea,#3390e8 50%,#207ce5);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#499bea), color-stop(50%, #3390e8), to(#207ce5));
			background-image: linear-gradient(#499bea,#3390e8 50%,#207ce5);
			background-repeat: no-repeat;
			border: 1px solid #123be2;
			padding: 5px 10px;
			font-size: 12px;
            width:50px;
            text-align: center;
			font-family:sans-serif;
        }
        .button.settings {
            background-image: -webkit-linear-gradient(#ff9000, #f7911d 50%, #f9a743); 
			background-image: -o-linear-gradient(#ff9000,#f7911d 50%,#f9a743);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9000), color-stop(50%, #f7911d), to(#f9a743));
			background-image: linear-gradient(#ff9000,#f7911d 50%,#f9a743);
			background-repeat: no-repeat;
			border: 1px solid #ea6500;
            padding: 5px 10px;
            font-size: 12px;
            width:50px;
            text-align: center;
            font-family:sans-serif;
        }
        .button.inactive {
            color: #000000 !important;
            background-color: #acacac !important;
            border-color: #878787 !important;
            cursor:default!important;

        }
        .button.statusSwitchON {
			background-image: -webkit-linear-gradient(#61dd45, #3cb521 50%, #36a41e);
			background-image: -o-linear-gradient(#61dd45, #3cb521 50%, #36a41e);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#61dd45), color-stop(50%, #3cb521), to(#36a41e));
			background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
			background-repeat: no-repeat;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61dd45', endColorstr='#ff36a41e', GradientType=0);
			-webkit-filter: none;
			filter: none;
			border: 1px solid #2e8a19;
            width:98px;
            text-align: center;
			padding: 5px 10px;
			font-size: 12px;
			font-family:sans-serif;
        }
		
		.button.statusSwitchOFF {
			background-image: -webkit-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
			background-image: -o-linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1d1b), color-stop(50%, #cd0200), to(#b90200));
			background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
			background-repeat: no-repeat;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1d1b', endColorstr='#ffb90200', GradientType=0);
			-webkit-filter: none;
			filter: none;
			border: 1px solid #9a0200;
            width:98px;
            text-align: center;
			padding: 5px 10px;
			font-size: 12px;
			font-family:sans-serif;
        }

        td.moduleName {
            color: #002c68;
            font-weight:bold;
            font-size:12px;
			font-family:sans-serif;
			
        }

.user {
    cursor: pointer;
}
.moduleName {
	width:300px !important;
}
table th.actionTD
{
	text-indent: 17px;
}
.actionTD {
    width:450px !important;
}

#table_id_filter {
    position: fixed;
    top:3px;
	height: 30px;
	z-index: 20;
    right:5px;
    color:black;
    font-weight:bold;
    font-family:sans-serif;
    font-size: 12px;
}
#table_id_info {
    color: black;
}

.dataTables_wrapper {
    background-color: #f2f2f2; !important;
}